body{
	background: url(../images/topography.png);
	font-family: 'Quicksand', sans-serif;
	color: #dcdcda;
	line-height: 1.5em;
}
a{
	text-decoration: none;
	color: inherit;
}
li{
	display: inline-block;
}
#name-header{
	width: 100%;
	height: 100px;
	color: #f5f5f5;
	display: block;
	text-align: center;
	font-size: 80px;
	padding: 250px 0px 80px 0px;
	margin: 0 auto;
	font-family: 'Pacifico', cursive;
	-webkit-animation-delay: 0.5s;
}
#full-dev-title{
	font-size: 25px;
	color: #f5f5f5;
	padding-top: 50px;
	padding-bottom: 530px;
}
.center-text{
	text-align: center;
}
.hide{
	display: none;
}
.navi{
	display: block;
	margin: 0 auto;
	padding: 20px 0px;
	width: 100%;
	background: rgba(48,62,78, 0);
	position: fixed;
	top: 0;
	z-index: 1;
	-webkit-transition: background 1s; 
	-moz-transition: background 1s; 
	-o-transition: background 1s; 
	transition: background 1s;
}
#nav-list{
	text-align: center;
	list-style-type: none;
	width: 100%;
}
.nav-item{
	display: inline-block;
	margin: 10px;
	color: #f5f5f5;
	font-size: 15px;
	-webkit-transition: font-size 1s; 
	-moz-transition: font-size 1s; 
	-o-transition: font-size 1s; 
	transition: font-size 1s;
}
.nav-item:hover, .nav-item:focus{
	color: #e44434 !important;
}
.home-section{
	height: 100vh;
	background: url(../images/bg-1-img.jpg);
	background-size: cover;
}
#about{
	height: 100vh;
	background: #00001a;
}
#about-me-title, #skills-title, #contact-title{
	font-size: 0px;
	font-family: 'Pacifico', cursive;
	border-bottom: 5px ridge #646464;
	padding: 120px 0px 60px 0px;
	width: 700px;
	display: block;
	margin: 0 auto 50px auto;
	text-align: center;
	-webkit-transition: font-size 1s; 
	-moz-transition: font-size 1s; 
	-o-transition: font-size 1s; 
	transition: font-size 1s;
}
#about-portrait{
	display: block;
	margin: 0 auto;
	width: 250px;
	border: 10px solid #303e4e;
	border-radius: 50%;
}
#about-me-content{
	padding: 15px;
	display: block;
	margin: 0 auto;
}
.open-statement{
	display: block;
	font-size: 20px;
	max-width: 1020px;
	margin: 15px auto;
}
#skills{
	height: 100vh;
}
.col-4{
	width: 33.33%;
	float: left;
}
.row{
	clear: both;
}
#portfolio{
	height: 100vh;
	background: #00001a;
}
#portfolio-title{
	color: #7da3a2;
	font-size: 0px;
	font-family: 'Pacifico', cursive;
	border-bottom: 5px ridge #646464;
	padding: 120px 0px 60px 0px;
	width: 700px;
	margin: 0 auto 20px auto;
	-webkit-transition: font-size 1s; 
	-moz-transition: font-size 1s; 
	-o-transition: font-size 1s; 
	transition: font-size 1s;
}
#port-group{
	max-width: 1200px;
	margin: 0 auto; 
}
.port-item{
	margin: 10px auto;
	width: 300px;
	height: 200px;
}
#port0{
	opacity: 0;
	width: 300px;
	height: 200px;
	background: url(../images/img0.png);
	background-size: 300px 200px;
	border: 5px solid #303e4e;
	border-radius: 10px;
}
#port1{
	opacity: 0;
	width: 300px;
	height: 200px;
	background-image: url(../images/img1.jpg);
	background-size: 300px 200px;
	border: 5px solid #303e4e;
	border-radius: 10px;
	
}
#port2{
	opacity: 0;
	width: 300px;
	height: 200px;
	background-image: url(../images/img2.jpg);
	background-size: 300px 200px;
	border: 5px solid #303e4e;
	border-radius: 10px;	
}
#port3{
	opacity: 0;
	width: 300px;
	height: 200px;
	background-image: url(../images/img3.jpg);
	background-size: 300px 200px;
	border: 5px solid #303e4e;
	border-radius: 10px;
	
}
#port4{
	opacity: 0;
	width: 300px;
	height: 200px;
	background-image: url(../images/img4.png);
	background-size: 300px 200px;
	border: 5px solid #303e4e;
	border-radius: 10px;
}
#port5{
	opacity: 0;
	width: 300px;
	height: 200px;
	background-image: url(../images/img5.jpg);
	background-size: 300px 200px;
	border: 5px solid #303e4e;
	border-radius: 10px;	
}
#port6{
	opacity: 0;
	width: 300px;
	height: 200px;
	background-image: url(../images/img6.jpg);
	background-size: 300px 200px;
	border: 5px solid #303e4e;
	border-radius: 10px;
}
#port7{
	opacity: 0;
	width: 300px;
	height: 200px;
	background-image: url(../images/img7.jpg);
	background-size: 300px 200px;
	border: 5px solid #303e4e;
	border-radius: 10px;
}
#skills-title, #contact-title{
	color: black;
}
#skills-box{
	display: block;
	margin: 0 auto;
}
.skill-type{
	display: block;
	width: 100%;
	text-align: center;
	padding: 70px 0px;
	font-size: 45px;
	color: #7da3a2;
	font-family: 'Pacifico', cursive;
	
}
.ul-skill{
	display: block;
	margin: 0 auto;
	text-align: center;
	max-width: 1200px;
	

}
.skill-cover{
	height: 150px;
	display: block;
	background: black;
	position: absolute;
	left: 25%;
	right: 25%;
	z-index: 1;
	-webkit-transition: right 2s; 
	-moz-transition: right 2s; 
	-o-transition: right 2s; 
	transition: right 2s;
	transition-delay: 1s;
}
.skill-item{
	font-size: 120px;
	margin: 10px;

}
.form-contain{
	max-width: 1200px;
	padding: 5px;
	display: block;
	margin: 10px auto;
}
#contact{
	height: 100vh;
}
.input-label{
	font-size: 20px;
	color: black;
}
#submit-btn{
	margin-top: 20px;
	display: block;
	padding: 15px 20px;
	font-size: 20px;
	position: relative;
	left: 100%;
	opacity: 0;
	-webkit-transition: 2s;
	-moz-transition: 2s;
	-o-transition: 2s;
	transition: 2s;
	transition-delay: 1s;
	
}
@media only screen and (max-width:1414px){
	.skill-cover{
		left: 10%;
		right: 10%;
	}
}
@media only screen and (max-width:920px){
	.skill-item{
		font-size: 100px;
		padding: 18px 0px;

	}
	.skill-cover{
		height: 100px;
		left: 0%;
		right: 0%;
	}	
}
@media only screen and (max-width:920px){
	.skill-item{
		font-size: 70px;
	}
}